# 本文件提供了与NapCat对接的配置


# WebSocket 服务配置
  - type: websocket-server
    # 监听地址
    host: 0.0.0.0
    # 监听端口
    port: 8080
    # 路径
    path: /qq
    # 是否启用访问令牌（用于认证）
    # 此token需要与.env文件中的NAPCAT_TOKEN保持一致
    # 留空表示不启用Token验证
    token: ""


# 默认中间件配置
default-middlewares &default:
  # 与.env文件中的NAPCAT_TOKEN或ACCESS_TOKEN保持一致
  # 留空表示不启用Token验证
  access-token: ''    
  filter: ''
  rate-limit:
    enabled: false
    frequency: 1
    bucket: 6
